<div class="container float-left">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-header">{{profile_details.user.username}}</h5>
            <h6 class="card-title">@{{profile_details.user.display_name}}</h6>
            <div class="card-text">
                <p>Tweets: {{profile_details.tweet_count}}</p>
                <p>Notfications: {{profile_details.notifications}}</p>
                <p>Following: {{profile_details.follow_count}}</p>
            </div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            <a href="#" class="btn btn-danger">Go somewhere</a>
        </div>
    </div>
</div>